<h1 id="titulo">Gestão de Materiais</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarMaterial()">Criar Material</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarMateriais()">Listar Materiais</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarMaterial()">Apagar Material</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarMaterial()">Editar Material</button>


<div *ngIf="materialHidden01">
  <h2 id="tituloCriar">Criar Material</h2>

  <label>
    <mat-form-field class="example-full-width">
      <input #nomeMaterialCriar matInput placeholder="Nome">
    </mat-form-field>
  </label>
  <p></p>
  <mat-form-field>
    <mat-select placeholder="Acabamentos" [(ngModel)]="acabamentosSelecionados" [compareWith]="equals" multiple
      #acabamentoSelecionado="ngModel">
      <mat-option disabled="disabled" class="filter-option">
        <input type="checkbox" (click)="selecionarTodosAcabamentos(checkAll.checked, acabamentoSelecionado, listaAcabamentos)"
          #checkAll>
      </mat-option>
      <mat-option *ngFor="let a of listaAcabamentos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-tab-group mat-stretch-tabs (selectedTabChange)=guardarIndiceImagem($event)>
    <mat-tab *ngFor="let t of texturasListar; index as i" label="{{t.nome}}">
      <br>
      <mat-card class="example-card">
        <img mat-card-image src="{{t.urlImagem}}" alt="Photo of a Shiba Inu">
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  <label>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="precoMaterial" matInput placeholder="Preço do Material">
    </mat-form-field><span>€</span>
  </label>
  <br>
  <li *ngFor="let a of acabamentosSelecionados; index as i" [value]="a">
    <label>
      {{a.nome.conteudo}}:
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="precoAcabamento[i]" matInput placeholder="Incremento do Acabamento">
      </mat-form-field><span>€</span>
    </label>
  </li>
  <br>



  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button (click)="adicionarMaterial(nomeMaterialCriar.value); nomeMaterialCriar.value=''">
    Criar
  </button>
</div>

<div *ngIf="materialHidden02">
  <h2 id="tituloListar">Listar Materiais</h2>
  <mat-form-field class="x" style='width:600px'>
    <mat-select placeholder="Materiais" [(ngModel)]="materialListar" (ngModelChange)=listarAcabamentos() style='width:600px'>
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        <span *ngIf="a.acabamentos!=null"> Nome: {{a.nome.conteudo}} Preço Corrente: {{a.precoAtual}}€ Quantidade
          acabamentos: {{a.acabamentos.length}}</span>
        <span *ngIf="a.acabamentos==null">Nome: {{a.nome.conteudo}} Preço Corrente: {{a.precoAtual}}€ Sem acabamentos</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div *ngIf="materialListar!= null">
    <mat-tab-group mat-stretch-tabs (selectedTabChange)=guardarIndiceImagem($event)>
      <mat-tab [label]="nomeTexturaListar">
        <br>
        <mat-card class="example-card">
          <span *ngIf="materialListar!=null"><img mat-card-image [src]="imagemTexturaListar"> </span>

        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <br>
    <mat-tab-group mat-stretch-tabs *ngIf="materialListar!=null">
      <mat-tab *ngFor="let a of acabamentosListar; index as i" label="{{a.nome.conteudo}}">
        <br>
        <!-- <mat-radio-group [(ngModel)]="valorRadioButton">
        <mat-radio-button color="primary" value="1">Brilhante</mat-radio-button>
        <mat-radio-button color="primary" value="2">Fosco</mat-radio-button>
      </mat-radio-group> -->
        <br>
        Brilho: <mat-slider value="{{a.brilho}}" color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1"
          min="0" max="100" disabled></mat-slider>
        <br>
        Opacidade: <mat-slider value="{{a.opacidade}}" color="primary" thumbLabel [displayWith]="formatLabel"
          tickInterval="1" min="0" max="100" disabled></mat-slider>
        <br>
        Emissividade: <mat-slider value="{{a.emissividade}}" color="primary" thumbLabel [displayWith]="formatLabel"
          tickInterval="1" min="0" max="100" disabled></mat-slider>
        <br>
        <mat-radio-group [(ngModel)]="valorRadioButtonLista[i]" disabled>
          <mat-radio-button color="primary" value="1">Brilhante</mat-radio-button>
          <mat-radio-button color="primary" value="2">Fosco</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <span>Cor:</span><br> <input [(colorPicker)]="colorListar[i]" [style.background]="colorListar[i]" [readonly]="true"
          [cpDisabled]="true" />
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Acréscimo corrente" [value]="listaAcrescimos[i]==null ? 'Não definido' : listaAcrescimos[i]"
            readonly>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


<div *ngIf="materialHidden04">
  <h2 id="tituloEliminar">Eliminar Material</h2>
  <mat-form-field>
    <mat-select placeholder="Materiais" [(ngModel)]="materialApagar" [compareWith]="equals">
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)=eliminarMaterial()>Apagar</button>
  <br>
  <br>
</div>


<div *ngIf="materialHidden05">
  <h2 id="tituloEditar">Editar Material</h2>
  <mat-form-field>
    <mat-select placeholder="Materiais" [(ngModel)]="materialEditar" (ngModelChange)=atualizarDados() [compareWith]="equals">
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <label>
    <mat-form-field class="example-full-width">
      <input #editarNomeMaterial [(ngModel)]="nomeEditar" matInput placeholder="Novo nome">
    </mat-form-field>
  </label>
  <br>
  <br>
  <mat-form-field>
    <mat-select placeholder="Acabamentos" [(ngModel)]="acabamentosSelecionadosEditar" (ngModelChange)="atualizarPrecosAcabamentos()" [compareWith]="equals" multiple
      #acabamentoSelecionado="ngModel">
      <mat-option disabled="disabled" class="filter-option">
        <input type="checkbox" (click)="selecionarTodosAcabamentos(checkAll.checked, acabamentoSelecionado, listaAcabamentos)"
          #checkAll>
      </mat-option>
      <mat-option *ngFor="let a of listaAcabamentos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-tab-group mat-stretch-tabs [selectedIndex]="indiceTabSelecionar" (selectedTabChange)=guardarIndiceImagemEditar($event)>
    <span *ngIf="materialEditar!=null">
      <mat-tab *ngFor="let t of texturasListar; index as i" label="{{t.nome}}">
        <br>
        <mat-card class="example-card">
          <img mat-card-image src="{{t.urlImagem}}" alt="Photo of a Shiba Inu">
        </mat-card>
      </mat-tab>
    </span>

  </mat-tab-group>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="precoMaterialEditar" matInput placeholder="Preço do Material">
    </mat-form-field><span>€</span>

  <br>
  <li *ngFor="let a of acabamentosSelecionadosEditar; index as i" [value]="a">
    <label>
      {{a.nome.conteudo}}:
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="precoAcabamentoEditar[i]" matInput placeholder="Incremento do Acabamento">
      </mat-form-field><span>€</span>
    </label>
  </li>
  <br>
  <button mat-button (click)=atualizarMaterial()>Submeter Alterações</button>
</div>