button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: #cfd8dc;
}

.example-card {
  max-width: 250px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

h1 {
  color: rgb(0, 0, 0);
}

h2 {
  color: rgb(0, 0, 0);
}

label {
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 10px;
}

label.info {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 10px;
}



div.item {
  text-align: center;
  vertical-align: middle;
}

/* Split the screen in half */
.split {
  height: 80%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.esconder {
  visibility: hidden;
  background-color: violet;
}

/* Control the left side */
.left {
  position: relative;
  left: 0;

}

/* Control the right side */
.right {
  position: absolute;
  right: 0;
  top: 40%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

[hidden] {
  display: none !important;
}

/* mat-select {text-align: center}
mat-option {text-align: center}
mat-form-field {align: center} */