<h1 id="tituloItem">Gestão de Itens</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarItem()">Criar Item</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarItem()">Listar Itens</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarItem()">Apagar Item</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarItem()">Editar Item</button>

<div *ngIf="mostrarListarItens" [ngClass]="mostrarVisualizador == true ? 'split left': 'item'">
  <h2 id="tituloListar">Listar Itens</h2>
  <mat-form-field style='width:700px'>
    <mat-select placeholder="Itens" [(ngModel)]="itemListar" (ngModelChange)="listarItem();atualizarCuboListar();" [compareWith]="equals" style='width:700px'>
      <mat-option *ngFor="let a of listaItens" [value]="a">
        Produto: {{a.nomeProduto}} Preço: {{a.preco}}€ Material: {{a.nomeMaterial}} Acabamento: {{a.nomeAcabamento}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div *ngIf="itemListar!= null">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Produto" value="{{itemListar.nomeProduto}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Material" value="{{itemListar.nomeMaterial}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Textura" [(ngModel)]="nomeTexturaListar" readonly>
    </mat-form-field>
    <br>
    <mat-card class="example-card">
      <span><img mat-card-image [src]="imagemTexturaListar"> </span>
    </mat-card>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Acabamento" value="{{itemListar.nomeAcabamento}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Altura" value="{{itemListar.altura}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Largura" value="{{itemListar.largura}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Profundidade" value="{{itemListar.profundidade}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field *ngFor="let i of itensFilhos" class="example-full-width">
      <input matInput placeholder="Itens Agregados" value="{{i}}" readonly>
    </mat-form-field>
    <br>
  </div>
  <button *ngIf="!previsualizacao" mat-raised-button (click)="visualizarItemCriar()">Visualizar Item</button>
  <button *ngIf="previsualizacao" mat-raised-button (click)="pararVisualizarItemCriar()">Parar visualização</button>
</div>

<div *ngIf="mostrarCriarItem" [ngClass]="mostrarVisualizador == true ? 'split left': 'item'">
  <h2 id="tituloCriar">Criar Item</h2>
  <mat-form-field>
    <mat-select placeholder="Catálogo" [(ngModel)]="catalogoSelecionadoCriar" (ngModelChange)=mostrarProdutosCatalogo()
      [compareWith]="equals">
      <mat-option>Nenhum cátalogo</mat-option>
      <mat-option *ngFor="let a of listaCatalogos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Coleção" [(ngModel)]="colecaoSelecionadaCriar" (ngModelChange)=mostrarProdutosColecao()
      [compareWith]="equals">
      <mat-option>Nenhuma coleção</mat-option>
      <mat-option *ngFor="let a of listaColecoes" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style='width:450px'>
    <mat-select placeholder="Produto" [(ngModel)]="itemProduto" (ngModelChange)="atualizarItensFilhoEMateriais(); atualizarCubo();"
      [compareWith]="equals" style='width:450px' [matTooltip]="tooltipItensCriar">
      <mat-option *ngFor="let a of listaProdutos" [value]="a">
        Nome: {{a.nome.conteudo}} Categoria: {{a.categoria.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select placeholder="Material" [(ngModel)]="materialItem" (ngModelChange)="atualizarAcabamentosMaterial(); atualizarCubo();"
      [compareWith]="equalsMaterial">
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        Material: {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select placeholder="Acabamento" [(ngModel)]="acabamentoMaterial" (ngModelChange)="atualizarCubo()"
      [compareWith]="equalsMaterial">
      <mat-option *ngFor="let a of listaAcabamentos" [value]="a">
        Acabamento: {{a.nome.conteudo}}
      </mat-option>
      <mat-option *ngIf="listaAcabamentos.length==0">
        Sem acabamentos
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="larguraCriar" class="example-full-width">
    <input [(ngModel)]="larguraItem" (ngModelChange)=atualizarCubo() class="number" matInput [matTooltip]="tooltipLargura"
      placeholder="Largura" id="larguraItem">
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="alturaCriar" class="example-full-width">
    <input [(ngModel)]="alturaItem" (ngModelChange)=atualizarCubo() class="number" matInput [matTooltip]="tooltipAltura"
      placeholder="Altura" id="alturaItem">
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="profundidadeCriar" class="example-full-width">
    <input [(ngModel)]="profundidadeItem" (ngModelChange)=atualizarCubo() class="number" matInput [matTooltip]="tooltipProfundidade"
      placeholder="Profundidade" id="profundidadeItem">
  </mat-form-field>
  <br>
  <mat-form-field [hidden]="hideElement" style='width:500px'>
    <mat-select placeholder="Itens Filho" [matTooltip]="tooltipItensFilhosObrigatorios" [(ngModel)]="itemsFilho"
    (ngModelChange)="atualizarCubo()" [compareWith]="equalsItem" multiple style='width:500px'>
      <mat-option *ngFor="let a of listaItemsFilho" [value]="a">
        {{a.nomeProduto}} {{a.nomeMaterial}} {{a.nomeAcabamento}} | A: {{a.altura}} L: {{a.largura}} P:
        {{a.profundidade}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button *ngIf="ligarCriar" mat-raised-button (click)="criarItem()">Criar Item</button>
  <button *ngIf="!previsualizacao  && ligarvisualizacaoCriar" mat-raised-button (click)="visualizarItemCriar()">Visualizar Item</button>
  <button *ngIf="previsualizacao && desligarvisualizacaoCriar" mat-raised-button (click)="pararVisualizarItemCriar()">Parar visualização</button>
  <mat-spinner style="margin:0 auto;" *ngIf="mostrarSpinnerCriarItem"></mat-spinner>
</div>

<div [hidden]="esconderDiv" [ngClass]="mostrarVisualizador == true ? 'split right' : 'esconder' ">
  <div [ngClass]="mostrarVisualizador == true ? 'centered' : 'teste' ">
    <canvas id="renderCanvas"></canvas>
  </div>
</div>

<span *ngIf="previsualizacao" STYLE="position:absolute; TOP:160px; RIGHT:280px;">Cor da Luz:</span>
<input *ngIf="previsualizacao" STYLE="position:absolute; TOP:180px; RIGHT:250px;" [(colorPicker)]="colorLuzCriar"
  (colorPickerChange)=atualizarCoresCriar() [style.background]="colorLuzCriar" [readonly]="true" />
<span *ngIf="previsualizacao" STYLE="position:absolute; TOP:210px; RIGHT:250px;">Intensidade da Luz:</span>
<mat-slider *ngIf="previsualizacao" [(ngModel)]="valorBrilhoLuzCriar" (ngModelChange)=atualizarBrilhoCriar() STYLE="position:absolute; TOP:197px; RIGHT:120px;"
  color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"></mat-slider>
<button *ngIf="previsualizacao && luzDesligada" STYLE="position:absolute; TOP:240px; RIGHT:125px;" mat-button (click)="ligarLuz();">Ligar
  Luz</button>
<button *ngIf="previsualizacao && luzLigada" STYLE="position:absolute; TOP:240px; RIGHT:125px;" mat-button (click)="desligarLuz();">Desligar
  Luz</button>

<div *ngIf="mostrarEditarItem" [ngClass]="mostrarVisualizador == true ? 'split left': 'item'">
  <h2 id="tituloEditar">Editar Item</h2>
  <br>

  <mat-form-field>
    <mat-select placeholder="Item" [(ngModel)]="itemEditar" [matTooltip]="tooltipItensEditar" (ngModelChange)="atualizarDadosItem();" [compareWith]="equals">
      <mat-option *ngFor="let a of listaItensNaoEncomendados" [value]="a">
        Item: {{a.nomeProduto}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select placeholder="Material" [(ngModel)]="materialItemEditar" (ngModelChange)="atualizarAcabamentosMaterialEditar();atualizarCuboEditar();"
      [compareWith]="equalsMaterial">
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        Material: {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select placeholder="Acabamento" [(ngModel)]="acabamentoMaterialEditar" (ngModelChange)=atualizarCuboEditar() [compareWith]="equalsMaterial">
      <mat-option *ngFor="let a of listaAcabamentos" [value]="a">
        Acabamento: {{a.nome.conteudo}}
      </mat-option>
      <mat-option *ngIf="listaAcabamentos.length==0">
        Sem acabamentos
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field *ngIf="larguraEditar" class="example-full-width">
    <input class="number" [(ngModel)]="larguraItemEditar" (ngModelChange)=atualizarCuboEditar() matInput [matTooltip]="tooltipLarguraEditar" placeholder="Largura" id="larguraItem">
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="alturaEditar" class="example-full-width">
    <input class="number" [(ngModel)]="alturaItemEditar" (ngModelChange)=atualizarCuboEditar() matInput [matTooltip]="tooltipAlturaEditar" placeholder="Altura" id="alturaItem">
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="profundidadeEditar" class="example-full-width">
    <input class="number" [(ngModel)]="profundidadeItemEditar" (ngModelChange)=atualizarCuboEditar() matInput [matTooltip]="tooltipProfundidadeEditar" placeholder="Profundidade" id="profundidadeItem">
  </mat-form-field>
  <br>

  <mat-form-field [hidden]="hideElementEditar" *ngIf="podeTerFilhos" style='width:500px'>
    <mat-select placeholder="Itens Filho" [matTooltip]="tooltipItensFilhosObrigatoriosEditar" [(ngModel)]="itemsFilho"
    (ngModelChange)=atualizarCuboEditar() [compareWith]="equalsItem" multiple style='width:500px'>
      <mat-option *ngFor="let a of listaItemsFilho" [value]="a">
        {{a.nomeProduto}} {{a.nomeMaterial}} {{a.nomeAcabamento}} | A: {{a.altura}} L: {{a.largura}} P:
        {{a.profundidade}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button *ngIf="ligarEditar" mat-raised-button (click)="editarItem()">Editar Item</button>
  <button *ngIf="!previsualizacao && ligarvisualizacaoEditar" mat-raised-button (click)="visualizarItemCriar()">Visualizar Item</button>
  <button *ngIf="previsualizacao && desligarvisualizacaoEditar" mat-raised-button (click)="pararVisualizarItemCriar()">Parar visualização</button>
  <mat-spinner style="margin:0 auto;" *ngIf="mostrarSpinnerEditarItem"></mat-spinner>
</div>

<div *ngIf="mostrarApagarItem" [ngClass]="mostrarVisualizador == true ? 'split left': 'item'">
  <h2 id="tituloEliminar">Eliminar Item</h2>
  <mat-form-field style='width:700px'>
    <mat-select placeholder="Itens" [(ngModel)]="itemApagar" (ngModelChange)=atualizarCuboApagar() [compareWith]="equals" style='width:700px'>
      <mat-option *ngFor="let a of listaItensNaoEncomendados" [value]="a">
        Produto: {{a.nomeProduto}} Material: {{a.nomeMaterial}} Acabamento: {{a.nomeAcabamento}} Altura: {{a.altura}}
        Largura: {{a.largura}} Profundidade: {{a.profundidade}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)=eliminarItem()>Apagar</button>
  <button *ngIf="!previsualizacao" mat-raised-button (click)="visualizarItemCriar()">Visualizar Item</button>
  <button *ngIf="previsualizacao" mat-raised-button (click)="pararVisualizarItemCriar()">Parar visualização</button>
  <br>
  <br>
</div>
