<h1 id="titulo">Gestão de Restrições</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarRestricao()">Criar Restrição</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarRestricoes()">Listar Restrições</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoApagarRestricao()">Apagar Restrição</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarRestricao()">Editar Restrição</button>


<div *ngIf="restricaoCriar">
  <h2 id="tituloCriar">Criar Restrição</h2>

  <mat-form-field>
    <mat-select placeholder="Produto" [(ngModel)]="produtoPaiCriar" (ngModelChange)=listarFilhos() [compareWith]="equals">
      <mat-option *ngFor="let a of listaProdutos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Produtos Constituintes" [(ngModel)]="produtoFilhoCriar" [compareWith]="equals">
      <mat-option *ngFor="let a of listaProdutosFilhos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-radio-group [(ngModel)]="valorRadioButton">
    <mat-radio-button color="primary" value="1" (change)=restricaoObrigatoriedade()>Restrição Obrigatoriedade</mat-radio-button>
    <mat-radio-button color="primary" value="2" (change)=restricaoPercentualidade()>Restrição Percentual</mat-radio-button>
    <mat-radio-button color="primary" value="3" (change)=restricaoMaterial()>Restrição Material</mat-radio-button>
  </mat-radio-group>
  <span *ngIf="estadoRestricaoObrigatoriedade">
    <br>
    <br>
    <mat-slide-toggle color="primary" [(ngModel)]="obrigatoriedade">Obrigatório</mat-slide-toggle>
  </span>
  <span *ngIf="estadoRestricaoMaterial">
    <br>
    <br>
    <mat-form-field style='width:400px'>
      <mat-select placeholder="Material produto" [(ngModel)]="materialProduroCriar" [compareWith]="equals" style='width:400px'>
        <mat-option *ngFor="let a of listaMateriaisPai" [value]="a">
          {{a.nome.conteudo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style='width:400px'>
      <mat-select placeholder="Material produto constituinte" [(ngModel)]="materialProduroConstituinteCriar"
        [compareWith]="equals" style='width:400px'>
        <mat-option *ngFor="let a of listaMateriaisConstituinte" [value]="a">
          {{a.nome.conteudo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span *ngIf="estadoRestricaoPercentual">
    <br>
    <br>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Altura mínima" [(ngModel)]="alturaMinima">
    </mat-form-field>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Altura máxima" [(ngModel)]="alturaMaxima">
    </mat-form-field>
    <br>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Largura mínima" [(ngModel)]="larguraMinima">
    </mat-form-field>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Largura máxima" [(ngModel)]="larguraMaxima">
    </mat-form-field>
    <br>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Profundidade mínima" [(ngModel)]="profundidadeMinima">
    </mat-form-field>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Profundidade máxima" [(ngModel)]="profundidadeMaxima">
    </mat-form-field>
    <br>
  </span>
  <br>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button (click)="criarRestricao()">
    Criar
  </button>
</div>


<div *ngIf="restricoesListar">
  <h2 id="tituloListar">Listar Restrições</h2>
  <mat-form-field style='width:950px'>
    <mat-select placeholder="Restrições" [(ngModel)]="restricaoSelecionadaApagar" [compareWith]="equals" style='width:950px'>
      <mat-option *ngFor="let a of listaRestricoes" [value]="a">
        <span *ngIf="a.nomeMaterialPai!=null">
          Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} Material Pai: {{a.nomeMaterialPai}}
          Material Filho:
          {{a.nomeMaterialFilho}}
        </span>
        <span *ngIf="a.obrigatoriedade!=null">
          Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} Obrigatoriedade:
          {{a.obrigatoriedade}}
        </span>
        <span *ngIf="a.percentagemAlturaMinima!=null">
            Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} A.min =
            {{a.percentagemAlturaMinimaMostrar}}
            A.max = {{a.percentagemAlturaMaximaMostrar}} L.min = {{a.percentagemLarguraMinimaMostrar}} L.max =
            {{a.percentagemLarguraMaximaMostrar}}
            P.min = {{a.percentagemProfundidadeMinimaMostrar}} P.max = {{a.percentagemProfundidadeMaximaMostrar}}
        </span>

      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div *ngIf="restricaoApagar">
  <h2 id="tituloEliminar">Eliminar Restrição</h2>
  <mat-form-field style='width:950px'>
    <mat-select placeholder="Restrições" [(ngModel)]="restricaoSelecionadaApagar" [compareWith]="equals" style='width:950px'>
      <mat-option *ngFor="let a of listaRestricoes" [value]="a">
        <span *ngIf="a.nomeMaterialPai!=null">
          Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} Material Pai: {{a.nomeMaterialPai}}
          Material Filho:
          {{a.nomeMaterialFilho}}
        </span>
        <span *ngIf="a.obrigatoriedade!=null">
          Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} Obrigatoriedade:
          {{a.obrigatoriedade}}
        </span>
        <span *ngIf="a.percentagemAlturaMinima!=null">
          Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} A.min =
          {{a.percentagemAlturaMinimaMostrar}}
          A.max = {{a.percentagemAlturaMaximaMostrar}} L.min = {{a.percentagemLarguraMinimaMostrar}} L.max =
          {{a.percentagemLarguraMaximaMostrar}}
          P.min = {{a.percentagemProfundidadeMinimaMostrar}} P.max = {{a.percentagemProfundidadeMaximaMostrar}}
        </span>

      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)=eliminarRestricao()>Apagar</button>
  <br>
  <br>
</div>


<div *ngIf="restricaoEditar">
  <h2 id="tituloEditar">Editar Restrição</h2>
  <mat-form-field style='width:950px'>
    <mat-select placeholder="Restrições" [(ngModel)]="restricaoSelecionadaEditar"  (ngModelChange)=atualizarInformacao() [compareWith]="equals" style='width:950px'>
      <mat-option *ngFor="let a of listaRestricoes" [value]="a">
        <span *ngIf="a.nomeMaterialPai!=null">
          Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} Material Pai: {{a.nomeMaterialPai}}
          Material Filho:
          {{a.nomeMaterialFilho}}
        </span>
        <span *ngIf="a.obrigatoriedade!=null">
          Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} Obrigatoriedade:
          {{a.obrigatoriedade}}
        </span>
        <span *ngIf="a.percentagemAlturaMinima!=null">
            Produto pai: {{a.nomeProdutoPai}} Produto filho: {{a.nomeProdutoFilho}} A.min =
            {{a.percentagemAlturaMinimaMostrar}}
            A.max = {{a.percentagemAlturaMaximaMostrar}} L.min = {{a.percentagemLarguraMinimaMostrar}} L.max =
            {{a.percentagemLarguraMaximaMostrar}}
            P.min = {{a.percentagemProfundidadeMinimaMostrar}} P.max = {{a.percentagemProfundidadeMaximaMostrar}}
        </span>

      </mat-option>
    </mat-select>
  </mat-form-field>
  <span *ngIf="editarObrigatoriedade">
    <br>
    <br>
    <mat-slide-toggle color="primary" [(ngModel)]="obrigatoriedadeEditar">Obrigatório</mat-slide-toggle>
  </span>
  <span *ngIf="editarMaterial">
    <br>
    <br>
    <mat-form-field style='width:400px'>
      <mat-select placeholder="Material produto" [(ngModel)]="materialProduroEditar" [compareWith]="equals" style='width:400px'>
        <mat-option *ngFor="let a of listaMateriaisPaiEditar" [value]="a">
          {{a.nome.conteudo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style='width:400px'>
      <mat-select placeholder="Material produto constituinte" [(ngModel)]="materialProduroConstituinteEditar"
        [compareWith]="equals" style='width:400px'>
        <mat-option *ngFor="let a of listaMateriaisConstituinteEditar" [value]="a">
          {{a.nome.conteudo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span *ngIf="editarPercentual">
    <br>
    <br>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Altura mínima" [(ngModel)]="alturaMinimaEditar">
    </mat-form-field>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Altura máxima" [(ngModel)]="alturaMaximaEditar">
    </mat-form-field>
    <br>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Largura mínima" [(ngModel)]="larguraMinimaEditar">
    </mat-form-field>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Largura máxima" [(ngModel)]="larguraMaximaEditar">
    </mat-form-field>
    <br>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Profundidade mínima" [(ngModel)]="profundidadeMinimaEditar">
    </mat-form-field>
    <mat-form-field style='width:250px' hintLabel="Deixe vazio se não pretende restrição">
      <input type="number" [min]="0" [max]="100" matInput placeholder="Profundidade máxima" [(ngModel)]="profundidadeMaximaEditar">
    </mat-form-field>
    <br>
  </span>
  <br>
  <br>
  <button mat-button (click)=atualizarRestricao()>Atualizar Restrição</button>
</div>