<!--Registar-->
<div *ngIf="registar" class="registo">
  <h1 id="tituloRegistar">Registar Utilizador</h1>
  <mat-form-field style='width:400px' hintLabel="Email válido">
    <input [(ngModel)]="emailMoRegisto" id="emailUtilizadorRegisto" matInput placeholder="Email" #emailUpdateRegisto>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field style='width:400px' hintLabel="Apenas Caracteres de A a Z">
    <input [(ngModel)]="nomeMoRegisto" id="nomeUtilizadorRegisto" matInput placeholder="Nome Completo"
      #nomeUtilizadorRegisto>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field style='width:400px'>
    <mat-select id="moradaUtilizadorRegisto" placeholder="Morada do Utilizador" [(ngModel)]="cidadeSelecionada" [compareWith]="equals">
      <mat-option *ngFor="let c of cidades" [value]="c">
        {{c.Nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style='width:400px' hintLabel="Apenas Caracteres Alfanuméricos">
    <input id="usernameUtilizadorRegisto" [(ngModel)]="usernameMoRegisto" id="usernameUtilizadorRegisto" matInput placeholder="Username"
      #usernameUtilizadorRegisto>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field style='width:400px' hintLabel='Password não pode conter caracteres especiais* (#$%^&*\/[]()":{}|<>) e tem de possuir pelo menos 8 caracteres'>
    <input [(ngModel)]="passwordMoRegisto" id="passwordUtilizador" [type]="hide1 ? 'text' : 'password'" matInput
      placeholder="Password" #passwordUpdateRegisto>
    <mat-icon style="cursor: hand;cursor: pointer;" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' :
      'visibility_off'}}</mat-icon>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field style='width:400px' hintLabel='Coloque uma Password igual à Colocada no Campo acima'>
    <input [(ngModel)]="passwordVerificarMoRegisto" id="passwordUtilizadorConfirmar" [type]="hide2 ? 'text' : 'password'"
      matInput placeholder="Confirme Password" #passwordUtilizadorConfirmar>
    <mat-icon style="cursor: hand;cursor: pointer;" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' :
      'visibility_off'}}</mat-icon>
  </mat-form-field>
  <br><br>
  <mat-checkbox color="primary" class="example-margin" [(ngModel)]="aceitarTermos"></mat-checkbox>
  <a id="TermosCondicoes" style="cursor: hand;cursor: pointer;" (click)="mostrarTermos()"><b>Termos e Condições</b></a>
  <br><br>
  <mat-checkbox color="primary" class="example-margin" [(ngModel)]="aceitarTratamento"></mat-checkbox>
  <a id="TratamentoDados" style="cursor: hand;cursor: pointer;" (click)="mostrarTratamento()"><b>Tratamento de Dados Pessoais</b></a>
  <nav>
    <br>
    <a id="VoltarLogin" *ngIf="mostrarBotaoVoltarRegisto" mat-raised-button routerLink="/login" style="width:100px">Voltar</a>
    <a id="RegistarBotao" *ngIf="mostrarBotaoRegisto" mat-raised-button (click)="registoUtilizador(usernameUtilizadorRegisto.value, emailUpdateRegisto.value, passwordUpdateRegisto.value, passwordUtilizadorConfirmar.value, nomeUtilizadorRegisto.value)"
      style="width:100px">Registo</a>
    <mat-spinner style="margin:0 auto;" *ngIf="mostrarSpinnerRegistar"></mat-spinner>
  </nav>
</div>

<div *ngIf="termos" class="termos">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
      font-family: "Montserrat", sans-serif
    }

    .fa-anchor,
    .fa-coffee,
    .fa-pencil {
      font-size: 200px
    }
  </style>
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1 id="tituloTermos">Termos e Condições de Serviço</h1>
        <h5 class="w3-padding-32">Por favor leia estes <b>Termos e Condições de Serviço</b> cuidadosamente. Este é um
          contrato
          obrigatório.
          Bem-vindo ao serviço operado pelo <b>Sic</b>, em que consiste o website disponível em
          <b><u id="SiteSic" style="cursor: hand;cursor: pointer;" (click)="abrirPaginaInicial()">https://sic-cliente.herokuapp.com</u></b>. Ao clicar em
          “Registar”, está a concordar, que está a entrar
          num contrato
          legalmente obrigatório com o <b>Sic</b>. Concorda que leu, entendeu e concordou em fazer parte destes <b>Termos</b>.
          Se não concorda com os termos, por favor, não se registe no website.</h5>

        <p class="w3-text-grey"><b>Quem pode utilizar os serviços:</b> Apenas pode utilizar os serviços, se concordar
          celebrar
          um contrato vinculante com o <b>Sic</b>. Deverá ter idade mínima de treze anos para poder utilizar os nossos
          serviços. Utilizadores entre 13 e 18 anos apenas podem utilizar os nossos serviços, caso um supervisor ou pai
          concorde com estes <b>Termos</b>. Utilizadores que foram previamente removidos dos serviços do <b>Sic</b> ou
          que
          estejam impedidos legalmente de utilizar este website, serão impedidos de o usar.<br>
          Caso esteja a aceitar os termos em nome de uma empresa ou organização, declara e garante que está autorizado
          à realização de tal ação, vinculando a entidade e concordando com os <b>Termos e Condições</b>, em nome da
          respetiva organização/empresa.
        </p>
        <p class="w3-text-grey"><b>Privacidade: </b> A nossa <b>Política de Privacidade</b>, descreve como usamos as
          informações fornecidas ao aceitar a utilização destas nossos Serviços. Para mais informação, sobre como
          usamos a sua informação privada e escolhas, visite <u id="TermosParaTratamento" style="cursor: hand;cursor: pointer;" (click)="mostrarTratamento()">
            <b>Tratamento de Dados Pessoais</b></u>.
        </p>
        <p class="w3-text-grey"><b>Direitos sobre o Conteúdo</b>: Qualquer conteúdo criado por si passa a ser seu, no
          entanto estando presente nos serviços do website, você autoriza ao <b>Sic</b> à criação de uma licença
          mundial, podendo assim copiar, utilizar, processar, modificar, adaptar e publicar o seu conteúdo em qualquer
          meio e media (desenvolvidos ou que o venham a ser futuramente). Permitindo aos restantes utilizadores, o uso
          do seu conteúdo.<br>
          Concede a permissão ao <b>Sic</b> de fornecer, promover e melhorar os serviços do website. Permitindo assim
          fornecer e promover os seus serviços, a fim de divulgação deles. Usos de conteúdos por si criados, em
          promoções por outras empresas, podem ocorrer sem a existência de qualquer remuneração.<br>
          Declara e garante então que possui e obteve a informação de todos os direitos, licenças, consentimentos,
          permissões e autorizações necessários para concordar com as informações acima citadas, dos conteúdos por si
          criados através dos nossos serviços. Concorda também que todo o seu conteúdo criado é livre de materiais
          protegidos por direitos de autor.
        </p>
        <p class="w3-text-grey"><b>Utilização de serviços:</b> Os serviços fornecidos estão em constante evolução,
          podemos
          então interromper permanentemente ou temporariamente o fornecimento de serviços ou recursos. Podemos também
          criar limites de uso e armazenamento. Assim como também remover qualquer conteúdo criado pelos
          utilizadores, suspender e ate mesmo encerrar contas.
          Ao assinar estes termos de uso, também concorda em não fazer uso indevido do nosso website, como por
          exemplo:<br>
          - Interferindo com a sua integridade, por meio métodos que não sejam a interface gráfica e as instruções
          fornecidas;<br>
          - Criar conteúdo que seja inadequado, difamador, obsceno, ameaçador, abusivo, pornográfico, que invada a
          privacidade outros utilizadores ou que seja de intenção publicitária;<br>
          - Aceder, adulterar ou utilizar áreas não publicas dos serviços fornecidos;<br>
          - Examinar e testar vulnerabilidade dos sistemas, tentando assim violar medidas de segurança ou
          autenticação;<br>
          - Forjar cabeçalhos de pacotes <b>TCP/IP</b>. Utilizando os serviços, de forma a enviar informações, com
          origens
          alteradas e falsas;<br>
          - Fazer publicidade através do conteúdo criado, e envio de emails de spam a outros utilizadores dos
          serviços fornecidos pelo <b>Sic</b>, e outro tipo de atividade semelhantes;<br>
          - Armazenar e recolher o endereço de email e informações pessoais de outros utilizadores. Assim como
          difamar ou ameaçar os diversos utilizadores;<br>
          - Interferir ou danificar as definições de segurança do website e controlo de ações de utilizadores;<br>
          - Fazer engenharia reversa e descompilação para obter o código base do website;<br>
          - Tentar usar contas de outros utilizadores;<br>
          - Interferir com o acesso de outros usuários ao website ou dos prestadores de serviços hosting, com o envio
          de vírus, sobrecarga do sistema, envio de spam, envio de múltiplos emails para o sistema ou criação de
          scripts que sobrecarreguem o sistema com conteúdo criado.
          - Uso de cookies nos browsers, de maneira a otimizar o processo de utilização do serviço.
          <br><br>

          Possuímos o direito de aceder e ler qualquer informação que consideremos ser necessária para:<br>
          - Pedidos de ordem governamentais, jurídica ou regulamentar;<br>
          - Cumprir os <b>Termos e Condições de Utilizador</b>;<br>
          - Detetar situações de falhas, problemas de segurança e problema internos do sistema;<br>
          - Responder a pedidos de ajuda do utilizador.<br><br>

          <b>Conta:</b> Em ordem para criar uma conta, serão pedidas certas informações tais como a morada, o nome, o
          email,
          o username e a password. A responsabilidade de proteção da conta esta do seu lado, sendo então necessário a
          criação de uma palavra passe forte e que limite o uso da conta e do seu computador pessoal, apenas a uma
          pessoa. Qualquer dano ou perda de dados será apenas da sua responsabilidade, pelo não cumprimento das
          instruções fornecidas. A não ser que a informação seja pedida diretamente pelo <b>Sic</b>, não pode vender,
          emprestar ou alugar a outro utilizador. Se acredita que a sua conta se encontra em risco, contacte
          imediatamente o suporto através do email <b>lapr5.g8599@gmail.com</b>.<br><br>

          <b> Licença de Utilização dos Serviços</b>: O <b>Sic</b> oferece uma licença pessoal gratuita, não exclusiva
          para
          utilizar o website fornecido. Nada nos <b>termos</b> lhe permite o direito de utilizar o nome do <b>Sic</b>,
          nomes de domínio, scripts, interfaces visuais, design, informação ou quaisquer características distintivas.
          Todos os títulos, direitos e interesses relacionados ao <b>Sic</b>, excetuando os relacionados ao
          conteúdo dos utilizadores, são propriedade exclusiva do <b>Sic</b>. Sendo assim, os serviços fornecidos não
          podem ser usados, para uso comercial, revenda, distribuição dos conteúdos produzidos para amostra pública
          ou mineradores de informação.<br>
          Quaisquer comentários de feedback ou sugestões relativas à melhoria do website são voluntários, podendo
          assim ser utilizados para melhorias, não sendo uma obrigação do utilizador e sem necessidade de renumeração
          monetária.<br><br>
          <b>Perdas</b>: Nem o <b>Sic</b> nem o utilizador serão responsabilizados por perdas que não foram causadas
          por nenhumas
          das partes, ou por perdas que não foram antecipadas quando os <b>Termos
            e Condições</b> foram acordados ou atualizados.<br><br>
          <b>Termino dos termos</b>:
          Poderá terminar o acordo com <b>Sic</b> a qualquer momento através do termino da conta, descontinuando
          assim o uso dos seus serviços. Podemos suspender ou encerrar permanentemente a sua conta, a qualquer
          momento, se algum dos seguintes fatores acontecerem:<br>
          - Violação dos Termos e Condições de Serviço;<br>
          - Apresenta um risco jurídico ou comercial para o website;<br>
          - Impedimento da nossa parte de continuar a fornecer os serviços devido a razões técnicas e económicas;<br>
          - Inatividade prolongada;<br>
          - Pedido judicial de remoção de conta, devido a atividade ilegal.<br>
          Será avisado atempadamente, através do endereço de email. Em todas as situações acima listadas, terminará a
          vigência dos Termos e Condições, inclusive, a licença de uso dos serviços. Se achar que sua conta foi
          excluída por engano, não hesite em nos contactar para <b>lapr5.g8599@gmail.com</b>.<br><br>

          <b>Uso dos Serviços e Aparelhos</b>: O uso dos serviços e funções disponibilizadas pelo <b>Sic</b> necessita
          o uso
          de um computador pessoal ou aparelhos móveis, assim como o uso de Internet. Quaisquer taxas moveis e de
          Internet, aquando do acesso ao website não são da responsabilidade do <b>Sic</b>.<br><br>

          <b>Geral</b>: Podemos rever estes <b>Termos e Condições</b> em diferentes alturas, sendo então que a versão
          mais
          atualizada destes será a imposta. Exceto em casos de alterações relativas a novas funções e funcionalidades.
          Caso sejam alterações a direitos ou obrigações de
          pelo menos de uma das partes, será notificado 1 mês antes da sua imposição. Esta comunicação, será feita
          através de notificação do email associado à
          conta criada. Continuar a aceder aos serviços do <b>Sic</b> após a data de alteração dos <b>Termos</b>, está
          automaticamente a
          aceitar o uso da versão mais atualizada destes.
          Caso qualquer cláusula destes <b>Termos</b> seja considerada inválida, ela será considerada excluída para que
          o resto dos <b>Termos e Condições</b> se mantenha válido.
          Este é um acordo com o <b>Sic</b>, uma empresa portuguesa com sua sede em <b>ISEP, Porto, Portugal</b>. Se
          tiver
          dúvidas sobre estes <b>Termos e Condições</b>, entre em contato connosco por <b>lapr5.g8599@gmail.com</b>.

          <br><br>Em vigor desde: <b>1 de janeiro de 2019</b>

        </p>
      </div>

      <div class="w3-third w3-center">
        <i class="fa fa-pencil w3-padding-64 w3-text-blue"></i>
      </div>
    </div>
  </div>
  <nav>
    <a id="voltarTermos"mat-raised-button style="width:100px" (click)="voltarTermos()">Voltar</a>
  </nav>
</div>

<div *ngIf="tratamento" class="tratamento">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
      font-family: "Montserrat", sans-serif
    }

    .fa-anchor,
    .fa-coffee,
    .fa-pencil,
    .fa-database {
      font-size: 200px
    }
  </style>
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1 id="tituloTratamento">Política de Tratamento de Dados Pessoais</h1>
        <h5 class="w3-padding-32"> Com a finalidade de otimizar o serviço disponibilizado e torna-lo o mais
          personalizado possível, pretendemos proceder ao tratamento dos seus dados pessoais, para o qual é
          necessário o seu consentimento, que deve ser expressamente manifestado através da seleção da
          caixa de autorização de utilização dos dados. Poderá sempre em qualquer altura retirar esse consentimento,
          caso em que o tratamento efectuado até ao momento em que o faça não fica comprometido, deixando de ser lícito
          apenas a partir da retirada do consentimento.
          Os dados sujeitos a tratamento são:
            - Nome;
            - E-mail;
            - Morada.
        </h5>
      </div>

      <div class="w3-third w3-center">
        <i class="fa fa-database w3-padding-64 w3-text-blue"></i>
      </div>
    </div>
  </div>

  <nav>
    <a id="voltarTratamento" mat-raised-button style="width:100px" (click)="voltarTratamento()">Voltar</a>
  </nav>
</div>