button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }

  h1 {
    color:rgb(0, 0, 0);

  }
  h2 {
    color: rgb(0, 0, 0);
  }

  label{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px;
  }

  label.info{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px;
  }

  div.item {
    text-align:center;
    vertical-align: middle;
}

/* mat-select {text-align: center}
mat-option {text-align: center}
mat-form-field {align: center} */
