<h1 id="tituloEncomenda">Gestão de Encomendas</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarEncomenda()">Criar Encomenda</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarEncomendas()">Listar Encomenda</button>

<div *ngIf="mostrarCriarEncomenda">
  <h2 id="tituloCriar">Criar Encomenda</h2>

  <mat-form-field style='width:900px'>
    <mat-select id="listaItems" style='width:900px' placeholder="Itens" [(ngModel)]="itensSelecionados" [compareWith]="equals" multiple>
      <mat-option *ngFor="let a of listaItens" [value]="a">
        Produto: {{a.nomeProduto}} Preço: {{a.preco}}€ Material: {{a.nomeMaterial}} Acabamento: {{a.nomeAcabamento}} Altura: {{a.altura}}
        Largura: {{a.largura}} Profundidade: {{a.profundidade}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select id="listaCidades" placeholder="Cidade" [(ngModel)]="cidadeSelecionada" [compareWith]="equals">
      <mat-option *ngFor="let c of cidades" [value]="c">
        {{c.Nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button (click)="adicionarEncomenda()">
    Criar
  </button>
</div>

<div *ngIf="mostrarListarEncomenda">
  <h2 id="tituloListar">Listar Encomendas</h2>

  <mat-horizontal-stepper #stepper style='background-color: transparent;' (selectionChange)=buscarEncomenda($event)>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Submetida</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Validada</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Atribuída</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Em produção</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Em embalamento</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Pronta a expedir</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Expedida</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Entregue</ng-template>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Rececionada</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
  <br>
  <mat-form-field style='width:800px'>
    <mat-select id="listaEncomendas" style='width:800px' placeholder="Encomendas" [compareWith]="equals" [(ngModel)]="encomendaSelecionadaListagem">
      <mat-option *ngFor="let a of encomendasCliente" [value]="a">
        Quantidade de itens (incluindo itens filho) : {{a.numeroItensEncomenda}} Preço: {{a.preco}}€ Data: {{a.dataEncomendaUI}}
        Morada: {{a.morada.Nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span *ngIf="penultimoPasso">
    <button mat-button (click)="confirmarRececao()">
      Confirmar receção
    </button>
  </span>
  <label class="info" id="naoEncontrado"></label>
  <label id="nomePesquisado"></label>
  <br>
  <!--(selectedTabChange)=listarProduto($event)-->
  <mat-tab-group mat-stretch-tabs *ngIf="encomendaSelecionadaListagem!=null">
    <mat-tab *ngFor="let itemListar of encomendaSelecionadaListagem.todosItens; index as i" label="{{itemListar.nomeProduto}}">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Material" value="{{itemListar.nomeMaterial}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Acabamento" value="{{itemListar.nomeAcabamento}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Altura" value="{{itemListar.altura}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Largura" value="{{itemListar.largura}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Profundidade" value="{{itemListar.profundidade}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Preço total do item (incluindo filhos se houver)" value="{{itemListar.preco}}€" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let i of itemListar.itensFilhos" class="example-full-width">
        <input matInput placeholder="Itens Agregados" value="{{i.nomeProduto}}" readonly>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
</div>