<h1 id="titulo">Gestão de Catálogos</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarCatalogo()">Criar Catálogo</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarCatalogos()">Listar Catálogos</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarCatalogo()">Apagar Catálogo</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarCatalogo()">Editar Catálogo</button>

<div *ngIf="catalogoHidden01">
  <h2 id="tituloCriar"> Criar Catálogo</h2>
  <label>
    <mat-form-field class="example-full-width">
      <input #nomeCatalogo matInput placeholder="Nome">
    </mat-form-field>
  </label>
  <br>
  <mat-form-field>
    <mat-select placeholder="Produto" [(ngModel)]="produtoCatalogo" [compareWith]="equals" multiple>
      <mat-option *ngFor="let p of listaProdutos" [value]="p">
        {{p.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <p></p>
  <button mat-button (click)="criarCatalogo(nomeCatalogo.value); nomeCatalogo.value=''">
    Criar
  </button>
</div>

<div *ngIf="catalogoHidden02">
  <h2 id="tituloListar">Listar Catálogos</h2>
  <mat-form-field class="x">
    <mat-select placeholder="Catalogos" [(ngModel)]="catalogoListar" (ngModelChange)=listarProdutos() [compareWith]="equals">
      <mat-option *ngFor="let c of catalogos" [value]="c">
        Nome: {{c.nome.conteudo}} Quantidade de Produtos: {{c.produtoCatalogos.length}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <br>
  <mat-tab-group mat-stretch-tabs *ngIf="catalogoListar!=null" (selectedTabChange)=listarProduto($event)>
    <mat-tab *ngFor="let p of produtosListar; index as i" label="{{p.nome.conteudo}}">
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Categoria" value="{{p.categoria.nome.conteudo}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Coleção" value="{{p.colecao==null ? 'Não tem coleção' : p.colecao.nome.conteudo}}"
          readonly>
      </mat-form-field>
      <br>
      <span>Materiais: </span>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab *ngFor="let m of materiaisProduto; index as i" label="{{m.nome.conteudo}}">
          <br>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Textura" [(ngModel)]="nomeTexturaListar[i]" readonly>
          </mat-form-field>
          <br>
          <mat-card class="example-card">
            <span><img mat-card-image [src]="imagemTexturaListar[i]"> </span>
          </mat-card>
          <br>
        </mat-tab>
      </mat-tab-group>
      <br>
      <mat-form-field *ngFor="let a of alturasProduto" class="example-full-width">
        <input matInput placeholder="Altura" value="{{a}}" readonly>
      </mat-form-field>
      <mat-form-field *ngFor="let a of alturasMinProduto" class="example-full-width">
        <input matInput placeholder="Altura Mínima" value="{{a}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let a of alturasMaxProduto" class="example-full-width">
        <input matInput placeholder="Altura Máxima" value="{{a}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let l of largurasProduto" class="example-full-width">
        <input matInput placeholder="Largura" value="{{l}}" readonly>
      </mat-form-field>
      <mat-form-field *ngFor="let l of largurasMinProduto" class="example-full-width">
        <input matInput placeholder="Largura Mínima" value="{{l}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let l of largurasMaxProduto" class="example-full-width">
        <input matInput placeholder="Largura Máxima" value="{{l}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let p of profundidadesProduto" class="example-full-width">
        <input matInput placeholder="Profundidade" value="{{p}}" readonly>
      </mat-form-field>
      <mat-form-field *ngFor="let p of profundidadesMinProduto" class="example-full-width">
        <input matInput placeholder="Profundidade Mínima" value="{{p}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let p of profundidadesMaxProduto" class="example-full-width">
        <input matInput placeholder="Profundidade Máxima" value="{{p}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let f of produtosAgregados" class="example-full-width">
        <input matInput placeholder="Produto Agregado" value="{{f}}" readonly>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>

</div>


<div *ngIf="catalogoHidden04">
  <h2 id="tituloEliminar">Eliminar Catálogo</h2>
  <mat-form-field>
    <mat-select placeholder="Catalogo" [(ngModel)]="catalogoEliminar" [compareWith]="equals">
      <mat-option *ngFor="let c of catalogos" [value]="c">
        Nome:{{c.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button (click)="eliminarCatalogo()">
    Apagar
  </button>
</div>

<div *ngIf="catalogoHidden05">
  <h2 id="tituloEditar">Editar Catálogo</h2>
  <mat-form-field>
    <mat-select placeholder="Catalogo" [(ngModel)]="catalogoEditar" (ngModelChange)=atualizarDados() [compareWith]="equals">
      <mat-option *ngFor="let c of catalogos" [value]="c">
        Nome:{{c.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <label>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="catalogoEditarNome" matInput placeholder="Novo nome">
    </mat-form-field>
  </label>
  <br>
  <mat-form-field>
    <mat-select placeholder="Produto" [(ngModel)]="produtoCatalogoEditar" [compareWith]="equals" multiple>
      <mat-option *ngFor="let p of listaProdutos" [value]="p">
        {{p.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <br>
  <button mat-button (click)="atualizarCatalogo()">Submeter Alterações</button>


</div>