<h1 id="titulo">Gestão de Categorias</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarCategoria()">Criar Categoria</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarCategorias()">Listar Categorias</button>
<!-- <button id="botaoProcurar" mat-raised-button (click)="estadoProcurarCategoria()">Procurar Categoria</button> redundante -->
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarCategoria()">Apagar Categoria</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarCategoria()">Editar Categoria</button>


<div *ngIf="categoriaHidden01">
  <h2 id="tituloCriar">Criar Categoria</h2>

  <label>
    <mat-form-field class="example-full-width">
      <input #nomeCategoriaCriar matInput placeholder="Nome">
    </mat-form-field>
  </label>
  <p></p>
  <mat-form-field style='width:400px'>
    <mat-select placeholder="Categorias" [(ngModel)]="categoriaPaiCriar" [compareWith]="equals" style='width:400px'>
      <mat-option>Nenhum pai</mat-option>
      <mat-option *ngFor="let a of listaCategorias" [value]="a">
        <span *ngIf="a.categoriaPai==null">
          Nome: {{a.nome.conteudo}}
        </span>
        <span *ngIf="a.categoriaPai!=null">
          Nome: {{a.nome.conteudo}} Categoria pai: {{a.nomeCategoriaPai}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button (click)="adicionarCategoria(nomeCategoriaCriar.value); nomeCategoriaCriar.value=''">
    Criar
  </button>
</div>


<div *ngIf="categoriaHidden02">
  <h2 id="tituloListar">Listar Categorias</h2>
  <mat-form-field style='width:400px'>
    <mat-select placeholder="Categorias" [compareWith]="equals" style='width:400px'>
      <mat-option *ngFor="let a of listaCategorias" [value]="a">
        <span *ngIf="a.categoriaPai==null">
          Nome: {{a.nome.conteudo}}
        </span>
        <span *ngIf="a.categoriaPai!=null">
          Nome: {{a.nome.conteudo}} Categoria pai: {{a.nomeCategoriaPai}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div *ngIf="categoriaHidden03">
  <h2 id="tituloProcurar">Procurar Categoria</h2>
  <mat-form-field style='width:400px'>
    <mat-select placeholder="Categorias" [(ngModel)]="categoriaBuscar" [compareWith]="equals" style='width:400px'>
      <mat-option *ngFor="let a of listaCategorias" [value]="a">
        <span *ngIf="a.categoriaPai==null">
          Nome: {{a.nome.conteudo}}
        </span>
        <span *ngIf="a.categoriaPai!=null">
          Nome: {{a.nome.conteudo}} Categoria pai: {{a.nomeCategoriaPai}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <label class="info" id="getCategoria">* Caso seja encontrado resultado, ele será listado aqui</label>
  <br>
  <br>
</div>

<div *ngIf="categoriaHidden04">
  <h2 id="tituloEliminar">Eliminar Categoria</h2>
  <mat-form-field style='width:400px'>
    <mat-select placeholder="Categorias" [(ngModel)]="categoriaApagar" [compareWith]="equals" style='width:400px'>
      <mat-option *ngFor="let a of listaCategorias" [value]="a">
        <span *ngIf="a.categoriaPai==null">
          Nome: {{a.nome.conteudo}}
        </span>
        <span *ngIf="a.categoriaPai!=null">
          Nome: {{a.nome.conteudo}} Categoria pai: {{a.nomeCategoriaPai}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button (click)=eliminarCategoria()>Apagar</button>
  <br>
  <br>
</div>


<div *ngIf="categoriaHidden05">
  <h2 id="tituloEditar">Editar Categoria</h2>
  <mat-form-field style='width:400px'>
    <mat-select placeholder="Categoria" [(ngModel)]="categoriaEditar" (ngModelChange)=atualizarDados() [compareWith]="equals"
      style='width:400px'>
      <mat-option *ngFor="let a of listaCategorias" [value]="a">
        <span *ngIf="a.categoriaPai==null">
          Nome: {{a.nome.conteudo}}
        </span>
        <span *ngIf="a.categoriaPai!=null">
          Nome: {{a.nome.conteudo}} Categoria pai: {{a.nomeCategoriaPai}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <label>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="nomeEditar" matInput placeholder="Novo nome">
    </mat-form-field>
  </label>
  <br>
  <br>
  <mat-form-field>
    <mat-select placeholder="Categoria Pai" [(ngModel)]="categoriaPaiEditar" [compareWith]="equals">
      <mat-option>Nenhum pai</mat-option>
      <mat-option *ngFor="let a of listaCategoriasPaisPossiveis" [value]="a">
        <span *ngIf="a.categoriaPai==null">
          Nome: {{a.nome.conteudo}}
        </span>
        <span *ngIf="a.categoriaPai!=null">
          Nome: {{a.nome.conteudo}} Categoria pai: {{a.nomeCategoriaPai}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <button mat-button (click)=atualizarCategoria()>Submeter alterações</button>
</div>