button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

h1 {
  color:rgb(0, 0, 0);

}
h2 {
  color: rgb(0, 0, 0);
}

label{
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 10px;
}

label.info{
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 10px;
}
label.info2{
  color: rgb(0, 0, 0);
  font-size: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 10px;
}

input.number {
    width: 50px;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
  padding-left: 16px;
}
/* mat-select{
   text-shadow: 1px 1px white; 
   background-color:white; 
}
*/

/* mat-option{
    background-color:white;
} */