<h1 id="titulo">Gestão de Acabamentos</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarAcabamento()">Criar Acabamento</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarAcabamentos()">Listar Acabamentos</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarAcabamento()">Apagar Acabamento</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarAcabamento()">Editar Acabamento</button>

<div *ngIf="acabamentoHidden01">
  <h2 id="tituloCriar"> Criar Acabamento</h2>
  <label>
    <mat-form-field class="example-full-width">
      <input #nomeAcabamento matInput placeholder="Nome">
    </mat-form-field>
  </label>
  <br>
  <span>Cor:</span><br> <input [(colorPicker)]="color" [style.background]="color" [readonly]="true" />
  <br>
  <br>
  <mat-radio-group [(ngModel)]="valorRadioButton">
    <mat-radio-button color="primary" value="1">Brilhante</mat-radio-button>
    <mat-radio-button color="primary" value="2">Fosco</mat-radio-button>
  </mat-radio-group>
  <br>
  Brilho: <mat-slider [(ngModel)]="valorBrilho" color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1"
    min="0" max="100"></mat-slider>
  <br>
  Opacidade: <mat-slider [(ngModel)]="valorOpacidade" color="primary" thumbLabel [displayWith]="formatLabel"
    tickInterval="1" min="0" max="100"></mat-slider>
  <br>
  Emissividade: <mat-slider [(ngModel)]="valorEmissividade" color="primary" thumbLabel [displayWith]="formatLabel"
    tickInterval="1" min="0" max="100"></mat-slider>
  <br>
  <button mat-button (click)="adicionarAcabamento(nomeAcabamento.value); nomeAcabamento.value=''">
    Criar
  </button>
  <br>
</div>

<div *ngIf="acabamentoHidden02">
  <h2 id="tituloListar">Listar Acabamentos</h2>
  <mat-form-field style='width:600px'>
    <mat-select placeholder="Acabamentos" [(ngModel)]="acabamentoListar" [compareWith]="equals" style='width:600px'
      (ngModelChange)=listarCorAcabamento()>
      <mat-option *ngFor="let a of acabamentos" [value]="a">
        <span *ngIf="a.fosco"> Nome: {{a.nome.conteudo}} Brilho: {{a.brilho}} Opacidade:{{a.opacidade}} Emissividade:
          {{a.emissividade}}
          Fosco</span>
        <span *ngIf="!a.fosco"> Nome: {{a.nome.conteudo}} Brilho: {{a.brilho}} Opacidade:{{a.opacidade}} Emissividade:
          {{a.emissividade}}
          Brilhante</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div *ngIf="acabamentoListar!=null">
    <span>Cor:</span><br> <input [(colorPicker)]="colorListar" [style.background]="colorListar" [readonly]="true"
      [cpDisabled]="true" />
  </div>
</div>

<div *ngIf="acabamentoHidden04">
  <h2 id="tituloEliminar">Eliminar Acabamento</h2>
  <mat-form-field style='width:600px'>
    <mat-select placeholder="Acabamento" [(ngModel)]="acabamentoApagar" [compareWith]="equals" style='width:600px'>
      <mat-option *ngFor="let a of acabamentos" [value]="a">
        <span *ngIf="a.fosco"> Nome: {{a.nome.conteudo}} Brilho: {{a.brilho}} Opacidade:{{a.opacidade}} Emissividade:
          {{a.emissividade}}
          Fosco</span>
        <span *ngIf="!a.fosco"> Nome: {{a.nome.conteudo}} Brilho: {{a.brilho}} Opacidade:{{a.opacidade}} Emissividade:
          {{a.emissividade}}
          Brilhante</span>

      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button (click)="eliminarAcabamento()">
    Apagar
  </button>
</div>

<div *ngIf="acabamentoHidden05">
  <h2 id="tituloEditar">Editar Acabamento</h2>
  <mat-form-field style='width:600px'>
    <mat-select placeholder="Acabamento" [(ngModel)]="acabamentoEditar" (ngModelChange)=atualizarDados() [compareWith]="equals"
      style='width:600px'>
      <mat-option *ngFor="let a of acabamentos" [value]="a">
        <span *ngIf="a.fosco"> Nome: {{a.nome.conteudo}} Brilho: {{a.brilho}} Opacidade:{{a.opacidade}} Emissividade:
          {{a.emissividade}}
          Fosco</span>
        <span *ngIf="!a.fosco"> Nome: {{a.nome.conteudo}} Brilho: {{a.brilho}} Opacidade:{{a.opacidade}} Emissividade:
          {{a.emissividade}}
          Brilhante</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <label>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="nomeAcabamentoEditar" matInput placeholder="Nome">
    </mat-form-field>
  </label>
  <br>
  <span>Cor:</span><br> <input [(colorPicker)]="colorEditar" [style.background]="colorEditar" [readonly]="true" />
  <br>
  <br>
  <mat-radio-group [(ngModel)]="valorBrilhoFosco">
    <mat-radio-button color="primary" value="1">Brilhante</mat-radio-button>
    <mat-radio-button color="primary" value="2">Fosco</mat-radio-button>
  </mat-radio-group>
  <br>
  Brilho: <mat-slider [(ngModel)]="valorBrilhoEditar" color="primary" thumbLabel [displayWith]="formatLabel"
    tickInterval="1" min="0" max="100"></mat-slider>
  <br>
  Opacidade: <mat-slider [(ngModel)]="valorOpacidadeEditar" color="primary" thumbLabel [displayWith]="formatLabel"
    tickInterval="1" min="0" max="100"></mat-slider>
  <br>
  Emissividade: <mat-slider [(ngModel)]="valorEmissividadeEditar" color="primary" thumbLabel [displayWith]="formatLabel"
    tickInterval="1" min="0" max="100"></mat-slider>
  <br>
  <br>
  <br>
  <button mat-button (click)="atualizarAcabamento();">Atualizar acabamento</button>


</div>