<h1 id="titulo">Gestão de Histórico Preço</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoDefinirHistorico()">Definir Histórico Preços</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarHistorico()">Listar Histórico Preços</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarHistorico()">Eliminar Histórico</button>

<div *ngIf="historicoHidden01">
  <h2 id="tituloCriar">Definir Histórico Preço</h2>
  <mat-form-field>
    <input matInput [min]="minDate" [matDatepicker]="dataPicker" placeholder="Escolha a data" disabled (dateInput)="addEvent('input', $event)">
    <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
    <mat-datepicker #dataPicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Materiais" [(ngModel)]="materialSelecionado" (ngModelChange)="listarAcabamentosMaterial()">
      <mat-option *ngFor="let m of listaMateriais" [value]="m">
        {{m.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <mat-select placeholder="Acabamentos" [(ngModel)]="acabamentosSelecionados" [compareWith]="equals" multiple
      #acabamentoSelecionado="ngModel">
      <mat-option disabled="disabled" class="filter-option">
        <input type="checkbox" (click)="selecionarTodosAcabamentos(checkAll.checked, acabamentoSelecionado, listaAcabamentosMaterial)"
          #checkAll>
      </mat-option>
      <mat-option *ngFor="let a of listaAcabamentosMaterial" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <label *ngIf="precoMaterialHidden">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="precoMaterial" matInput placeholder="Preco do Material">
    </mat-form-field> <span>€</span>
    <br>
  </label>
  <li *ngFor="let a of acabamentosSelecionados; index as i" [value]="a">
    <label>
      {{a.nome.conteudo}}:
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="precoAcabamento[i]" matInput placeholder="Incremento do Acabamento">
      </mat-form-field><span>€</span>
    </label>
  </li>
  <br>
  <button mat-button (click)="adicionarHistorico()">
    Definir
  </button>
</div>


<div *ngIf="historicoHidden02">
  <h2 id="tituloListar">Listar Histórico Preço</h2>
  <mat-form-field class="x" style='width:400px'>
    <mat-select placeholder="Materiais" [(ngModel)]="materialListar" (ngModelChange)=listarAcabamentos() style='width:400px'>
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        <span *ngIf="a.acabamentos!=null">Nome: {{a.nome.conteudo}} Quantidade acabamentos: {{a.acabamentos.length}}</span>
        <span *ngIf="a.acabamentos==null">Nome: {{a.nome.conteudo}} Sem acabamentos</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="x" style='width:600px'>
    <mat-select placeholder="Acabamentos" [(ngModel)]="acabamentoListar" (ngModelChange)=listarInformacaoPreco() style='width:600px'>
      <mat-option>Nenhum acabamento</mat-option>
      <mat-option *ngFor="let a of listaAcabamentosMaterial" [value]="a">
        Nome: {{a.nome.conteudo}} Brilho: {{a.brilho}} Opacidade:{{a.opacidade}} Emissividade: {{a.emissividade}}
        Fosco: {{a.fosco}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-table #table [dataSource]="dadosHistorico" style='background-color: transparent;'>
    <ng-container [matColumnDef]="col" *ngFor="let col of colunasVisiveis">
      <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[col] }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="colunasVisiveis"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunasVisiveis;"></mat-row>
  </mat-table>
</div>

<div *ngIf="historicoHidden03">
  <h2 id="tituloListar">Eliminar Histórico Preço</h2>
  <br>
  <mat-radio-group [(ngModel)]="valorRadioButton" (ngModelChange)=listarHistoricosFuturos()>
    <mat-radio-button color="primary" value="material">Ordenar por material</mat-radio-button>
    <mat-radio-button color="primary" value="data">Ordenar por data ascendente</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field class="x" style='width:900px'>
    <mat-select placeholder="Históricos Futuros" [(ngModel)]="historicoEliminar" style='width:900px'>
      <mat-option *ngFor="let hp of listaHistoricosFuturos" [value]="hp">
        <span *ngIf="hp.id_Acabamento==null">Material: {{hp.nomeMaterial }}  Preço: {{hp.preco.valor}}€ Data: {{hp.dataMostrar}}</span>
        <span *ngIf="hp.id_Acabamento!=null">Material: {{hp.nomeMaterial }}  Acabamento: {{hp.nomeAcabamento}} Preço: {{hp.preco.valor}}€ Data: {{hp.dataMostrar}} </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="eliminarHistorico()">
    Eliminar
  </button>
</div>