<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <ul>
    <li *ngIf="isGestorCatalogos" class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Catálogo</a>
      <div class="dropdown-content">
        <a routerLink="/catalogo">Gerir Catálogos</a>
        <a routerLink="/colecao">Gerir Coleções</a>
        <a routerLink="/categoria">Gerir Categorias</a>
        <a routerLink="/material">Gerir Materiais</a>
        <a routerLink="/acabamento">Gerir Acabamentos</a>
        <a routerLink="/produto">Gerir Produtos</a>
        <a routerLink="/restricao">Gerir Restrições</a>
        <a routerLink="/historico">Gerir Histórico Preços</a>
      </div>
    </li>
    <li *ngIf="isCliente || utilizadorAtual==null" class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Encomenda</a>
      <div class="dropdown-content">
        <a routerLink="/item">Gerir Itens</a>
        <a routerLink="/encomenda">Gerir Encomendas</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Gestão de Conta</a>
      <div class="dropdown-content">
        <a routerLink="/login" *ngIf="utilizadorAtual==null">Login</a>
        <a style="cursor: hand;cursor: pointer;" (click)="logout()" *ngIf="utilizadorAtual!=null">Logout</a>
        <a routerLink="/registar" *ngIf="utilizadorAtual==null">Criar Conta</a>
        <a routerLink="/painelutilizador" *ngIf="isCliente">Painel de Utilizador</a>
      </div>
    </li>

  </ul>
  <router-outlet></router-outlet>