<!--Login-->
<div *ngIf="mostrarLogin" class="login">
  <h1 id="tituloLogin">Login</h1>
  <mat-form-field style='width:400px' hintLabel="Apenas Caracteres Alfanuméricos">
    <input [(ngModel)]="nomeMoLogin" id="nomeUtilizador" matInput placeholder="Username" #usernameUpdate>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field style='width:400px' hintLabel='Password não pode conter caracteres especiais* (#$%^&*\/[]()":{}|<>)'>
    <input [(ngModel)]="passwordMoLogin" id="passwordUtilizador" [type]="hide ? 'text' : 'password'" matInput placeholder="Password" #passwordUpdate>
    <mat-icon style="cursor: hand;cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
      'visibility_off'}}</mat-icon>
  </mat-form-field>
  <br>
  <button id="botaoRecuperar" mat-button (click)="recuperarPassword()">Esqueceu sua Password?</button>
  <button id="botaoRegistar" mat-button routerLink="/registar">Registar Conta</button>
  <br>
  <nav>
    <a *ngIf="mostrarBotaoLogin" mat-raised-button (click)="logar(usernameUpdate.value, passwordUpdate.value)" style="width:100px">Login</a>
    <mat-spinner style="margin:0 auto;" *ngIf="mostrarSpinnerLogin"></mat-spinner>
  </nav>
</div>

<div *ngIf="mostrarRecuperarPassword" class="recuperarPassword">
  <h1 id="tituloRecuperacarPassword">Recuperar Password</h1>
  <mat-form-field style='width:400px' hintLabel="Apenas Caracteres Alfanuméricos">
    <input [(ngModel)]="nomeMoRecuperar" id="nomeUtilizadorRecuperacao" matInput placeholder="Username" #nomeUpdateRecuperacao>
  </mat-form-field>
  <br>
  <mat-form-field style='width:400px' hintLabel="Email válido">
    <input [(ngModel)]="emailMoRecuperar" id="emailUtilizadorRecuperacao" matInput placeholder="Email" #emailUpdateRecuperacao>
  </mat-form-field>
  <br>
  <br>
  <nav>
    <a id="botaoVoltar" *ngIf="mostrarBotaoVoltarRec" mat-raised-button (click)="voltarAtras()" style="width:100px">Voltar</a>
    <a *ngIf="mostrarBotaoRec" mat-raised-button (click)="enviarPassword(emailUpdateRecuperacao.value, nomeUpdateRecuperacao.value)"
      style="width:100px">Enviar</a>
    <mat-spinner style="margin:0 auto;" *ngIf="mostrarSpinnerRecuperar"></mat-spinner>
  </nav>
</div>

<div *ngIf="mostrarAutenticacao" class="autenticacaoEmail">
  <h1 id="tituloautenticacaoEmail">Autenticação por Dois Fatores</h1>
  <mat-form-field style='width:400px'>
    <input [(ngModel)]="codigoMoAutenticacao" id="codigoUtilizador" [type]="hide2 ? 'text' : 'password'" matInput placeholder="Código" #codigoUpdate>
    <mat-icon style="cursor: hand;cursor: pointer;" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' :
      'visibility_off'}}</mat-icon>
  </mat-form-field>
  <br>
  <nav>
    <a *ngIf="mostrarBotaoLogar" mat-raised-button (click)="logarDoisFatores(codigoUpdate.value)" style="width:100px">Logar</a>
    <mat-spinner style="margin:0 auto;" *ngIf="mostrarSpinnerLogar"></mat-spinner>
  </nav>
</div>