<h1 id="titulo"></h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarProduto()">Criar Produto</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarProdutos()">Listar Produtos</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarProduto()">Apagar Produto</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarProduto()">Editar Produto</button>

<!--Criar Produto-->
<div *ngIf="produtoHidden01">
  <h2 id="tituloCriar">Criar Produto</h2>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nome" id="nomeProduto" /></mat-form-field>


  <br>
  <mat-form-field>
    <mat-select placeholder="Catálogos" [(ngModel)]="catalogosSelecionados" [compareWith]="equals" multiple
      #catalogoSelecionado="ngModel" (ngModelChange)="listarColecoesDisponiveis()">
      <mat-option disabled="disabled" class="filter-option">
        <input type="checkbox" (click)="selecionarTodosCatalogos(checkAll.checked, catalogoSelecionado, listaCatalogos)"
          #checkAll>
      </mat-option>
      <mat-option *ngFor="let a of listaCatalogos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Coleção" [(ngModel)]="colecaoProduto" [compareWith]="equals">
      <mat-option>Nenhuma coleção</mat-option>
      <mat-option *ngFor="let a of listaColecoes" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Categoria" [(ngModel)]="categoriaProduto" [compareWith]="equals" (ngModelChange)="verificarPodeFilhos()">
      <mat-option *ngFor="let a of listaCategorias" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Material" [(ngModel)]="materialProduto" [compareWith]="equals" multiple>
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="podeTerFilhos">
    <mat-select placeholder="Produto Filhos" [(ngModel)]="listaFilhos" [compareWith]="equals" multiple>
      <mat-option *ngFor="let a of listaProdutos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <label>Altura: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaAltura()">Dimensão Contínua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaAltura()">Dimensão Discreta</button>
</div>

<div *ngIf="alturaContinuaHidden">
  <br>
  <br>
  <label class="info">Valor Mínimo:</label>
  <input [matTooltip]="alturaMinima" class="number" id="continuaMinAltura">
  <br>
  <label class="info">Valor Máximo:</label>
  <input [matTooltip]="alturaMaxima" class="number" id="continuaMaxAltura">
  <br>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresContinuaAltura"></label>
  <button (click)="limparContinua(1)">Limpar</button>
  <br>
  <br>
  <button (click)="acrescentarValorContinua(1)">Acrescentar</button>
  <br>
  <br>
  <!-- <button mat-raised-button (click)="criarProduto(1)">Criar Produto</button> -->
  <label>Largura: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaLargura()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaLargura()">Dimensao Discreta</button>
</div>

<div *ngIf="alturaDiscretaHidden">
  <br>
  <br>
  <label class="info">Valor A Acrescentar:</label>
  <input [matTooltip]="alturaDiscreta" class="number" id="discretaNovoAltura">
  <label> </label>

  <button (click)="acrescentarValorDiscreta(1)">Acrescentar</button>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresDiscretaAltura"></label>
  <button (click)="limparDiscreta(1)">Limpar</button>
  <br>
  <br>
  <!-- <button mat-raised-button (click)="criarProduto(2)">Criar Produto</button> -->
  <label>Largura: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaLargura()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaLargura()">Dimensao Discreta</button>
</div>

<div *ngIf="larguraContinuaHidden">
  <br>
  <br>
  <label class="info">Valor Mínimo:</label>
  <input [matTooltip]="larguraMinima" class="number" id="continuaMinLargura">
  <br>
  <label class="info">Valor Máximo:</label>
  <input [matTooltip]="larguraMaxima" class="number" id="continuaMaxLargura">
  <br>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresContinuaLargura"></label>
  <button (click)="limparContinua(2)">Limpar</button>

  <br>
  <br>
  <button (click)="acrescentarValorContinua(2)">Acrescentar</button>
  <br>
  <br>
  <label>Profundidade: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaProfundidade()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaProfundidade()">Dimensao Discreta</button>
</div>

<div *ngIf="larguraDiscretaHidden">
  <br>
  <br>
  <label class="info">Valor A Acrescentar:</label>
  <input [matTooltip]="larguraDiscreta" class="number" id="discretaNovoLargura">
  <label> </label>

  <button (click)="acrescentarValorDiscreta(2)">Acrescentar</button>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresDiscretaLargura"></label>
  <button (click)="limparDiscreta(2)">Limpar</button>
  <br>
  <br>
  <!-- <button mat-raised-button (click)="criarProduto(2)">Criar Produto</button> -->
  <label>Profundidade: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaProfundidade()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaProfundidade()">Dimensao Discreta</button>
</div>

<div *ngIf="profundidadeContinuaHidden">
  <br>
  <br>
  <label class="info">Valor Mínimo:</label>
  <input [matTooltip]="profundidadeMinima" class="number" id="continuaMinProfundidade">
  <br>
  <label class="info">Valor Máximo:</label>
  <input [matTooltip]="profundidadeMaxima" class="number" id="continuaMaxProfundidade">
  <br>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresContinuaProfundidade"></label>
  <button (click)="limparContinua(3)">Limpar</button>

  <br>
  <br>
  <button (click)="acrescentarValorContinua(3)">Acrescentar</button>
  <br>
  <br>
  <button mat-raised-button (click)="criarProduto(1)">Criar Produto</button>
</div>

<div *ngIf="profundidadeDiscretaHidden">
  <br>
  <br>
  <label class="info">Valor A Acrescentar:</label>
  <input [matTooltip]="profundidadeDiscreta" class="number" id="discretaNovoProfundidade">
  <label> </label>

  <button (click)="acrescentarValorDiscreta(3)">Acrescentar</button>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresDiscretaProfundidade"></label>
  <button (click)="limparDiscreta(3)">Limpar</button>
  <br>
  <br>
  <button mat-raised-button (click)="criarProduto(1)">Criar Produto</button>
</div>
<!--Listar Produtos-->

<div *ngIf="produtoHidden02">
  <h2 id="tituloListar">Listar Produtos</h2>
  <mat-form-field style='width:300px'>
    <mat-select placeholder="Produtos" [(ngModel)]="produtoListar" (ngModelChange)=listarProduto() [compareWith]="equals"
      style='width:300px'>
      <mat-option *ngFor="let p of listaProdutos" [value]="p">
        Nome: {{p.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div *ngIf="produtoListar!= null">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Categoria" value="{{produtoListar.categoria.nome.conteudo}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Coleção" value="{{produtoListar.colecao==null ? 'Não tem coleção' : produtoListar.colecao.nome.conteudo}}"
        readonly>
    </mat-form-field>
    <br>
    <span>Materiais: </span>
    <br>
    <br>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab *ngFor="let m of materiaisProduto; index as i" label="{{m.nome.conteudo}}">
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Textura" [(ngModel)]="nomeTexturaListar[i]" readonly>
        </mat-form-field>
        <br>
        <mat-card class="example-card">
          <span><img mat-card-image [src]="imagemTexturaListar[i]"> </span>
        </mat-card>
        <br>
      </mat-tab>
    </mat-tab-group>
    <br>
    <br>
    <mat-form-field *ngFor="let a of alturasProduto" class="example-full-width">
      <input matInput placeholder="Altura" value="{{a}}" readonly>
    </mat-form-field>
    <mat-form-field *ngFor="let a of alturasMinProduto" class="example-full-width">
      <input matInput placeholder="Altura Mínima" value="{{a}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field *ngFor="let a of alturasMaxProduto" class="example-full-width">
      <input matInput placeholder="Altura Máxima" value="{{a}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field *ngFor="let l of largurasProduto" class="example-full-width">
      <input matInput placeholder="Largura" value="{{l}}" readonly>
    </mat-form-field>
    <mat-form-field *ngFor="let l of largurasMinProduto" class="example-full-width">
      <input matInput placeholder="Largura Mínima" value="{{l}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field *ngFor="let l of largurasMaxProduto" class="example-full-width">
      <input matInput placeholder="Largura Máxima" value="{{l}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field *ngFor="let p of profundidadesProduto" class="example-full-width">
      <input matInput placeholder="Profundidade" value="{{p}}" readonly>
    </mat-form-field>
    <mat-form-field *ngFor="let p of profundidadesMinProduto" class="example-full-width">
      <input matInput placeholder="Profundidade Mínima" value="{{p}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field *ngFor="let p of profundidadesMaxProduto" class="example-full-width">
      <input matInput placeholder="Profundidade Máxima" value="{{p}}" readonly>
    </mat-form-field>
    <br>
    <mat-form-field *ngFor="let f of produtosAgregados" class="example-full-width">
      <input matInput placeholder="Produto Agregado" value="{{f}}" readonly>
    </mat-form-field>
    <br>
    <span>Catálogos a que o produto pertence: </span>
    <br>
    <br>
    <mat-form-field *ngFor="let c of produtoCatalogos" class="example-full-width">
      <input matInput placeholder="Catálogo" value="{{c}}" readonly>
    </mat-form-field>
  </div>
</div>
<!--Apagar Produto-->

<div *ngIf="produtoHidden04">
  <h2 id="tituloEliminar">Eliminar Produto</h2>
  <mat-form-field>
    <mat-select placeholder="Produtos" [(ngModel)]="produtoEliminar" [compareWith]="equals">
      <mat-option *ngFor="let a of listaProdutos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button (click)="eliminar()">Eliminar</button>
</div>
<!--Editar Produto-->

<div *ngIf="produtoHidden05">
  <h2 id="tituloEditar">Editar Produto</h2>
  <mat-form-field>
    <mat-select placeholder="Produtos" [(ngModel)]="produtoEditar" (ngModelChange)=atualizarDados() [compareWith]="equals">
      <mat-option *ngFor="let a of listaProdutos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!-- Editar-->
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nome" [(ngModel)]="nomeProduto" id="nomeProduto" /></mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Categoria" [(ngModel)]="categoriaProduto" [compareWith]="equals" (ngModelChange)="verificarPodeFilhos()">
      <mat-option *ngFor="let a of listaCategorias" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Material" [(ngModel)]="materialProduto" [compareWith]="equalsMaterial" multiple>
      <mat-option *ngFor="let a of listaMateriais" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Catálogos" [(ngModel)]="catalogosSelecionadosEditar" (ngModelChange)="listarColecoesCatalogosEditar()"
      [compareWith]="equalsCategoria" multiple #catalogoSelecionado="ngModel">
      <mat-option disabled="disabled" class="filter-option">
        <input type="checkbox" (click)="selecionarTodosCatalogos(checkAll.checked, catalogoSelecionado, listaCatalogos)"
          #checkAll>
      </mat-option>
      <mat-option *ngFor="let a of listaCatalogos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Coleção" [(ngModel)]="colecaoProdutoEditar" [compareWith]="equals">
      <mat-option>Nenhuma coleção</mat-option>
      <mat-option *ngFor="let a of listaColecoesEditar" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="podeTerFilhos">
    <mat-select placeholder="Constituintes" [(ngModel)]="listaFilhos" [compareWith]="equalsProduto" multiple>
      <mat-option *ngFor="let a of listaProdutos" [value]="a">
        {{a.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <label>Altura: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaEditAltura()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaEditAltura()">Dimensao Discreta</button>
</div>

<div *ngIf="alturaContinuaEditHidden">
  <br>
  <br>
  <label class="info">Valor Minimo:</label>
  <input [matTooltip]="alturaMinima" class="number" id="continuaMinAltura">
  <br>
  <label class="info">Valor Maximo:</label>
  <input [matTooltip]="alturaMaxima" class="number" id="continuaMaxAltura">
  <br>
  <br>
  <button (click)="acrescentarValorContinua(1)">Acrescentar</button>
  <br>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresContinuaAltura"> {{stringValoresAlt}} </label>
  <button (click)="limparContinua(1)">Limpar</button>
  <br>
  <label>Largura: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaEditLargura()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaEditLargura()">Dimensao Discreta</button>

</div>

<div *ngIf="alturaDiscretaEditHidden">
  <br>
  <br>
  <label class="info">Valor A Acrescentar:</label>
  <input [matTooltip]="alturaDiscreta" class="number" id="discretaNovoAltura">
  <label> </label>

  <button (click)="acrescentarValorDiscreta(1)">Acrescentar</button>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresDiscretaAltura"> {{stringValoresAlt}} </label>
  <button (click)="limparDiscreta(1)">Limpar</button>
  <br>
  <br>
  <label>Largura: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaEditLargura()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaEditLargura()">Dimensao Discreta</button>
</div>

<div *ngIf="larguraDiscretaEditHidden">
  <br>
  <br>
  <label class="info">Valor A Acrescentar:</label>
  <input [matTooltip]="larguraDiscreta" class="number" id="discretaNovoLargura">
  <label> </label>

  <button (click)="acrescentarValorDiscreta(2)">Acrescentar</button>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresDiscretaLargura">{{stringValoresLarg}}</label>
  <button (click)="limparDiscreta(2)">Limpar</button>
  <br>
  <br>
  <label>Profundidade: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaEditProfundidade()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaEditProfundidade()">Dimensao Discreta</button>
</div>

<div *ngIf="larguraContinuaEditHidden">
  <br>
  <br>
  <label class="info">Valor Minimo:</label>
  <input [matTooltip]="larguraMinima" class="number" id="continuaMinLargura">
  <br>
  <label class="info">Valor Maximo:</label>
  <input [matTooltip]="larguraMaxima" class="number" id="continuaMaxLargura">
  <br>
  <br>
  <button (click)="acrescentarValorContinua(2)">Acrescentar</button>
  <br>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresContinuaLargura"> {{stringValoresLarg}} </label>
  <button (click)="limparContinua(2)">Limpar</button>
  <br>
  <label>Profundidade: </label>
  <button mat-raised-button (click)="estadoDimensaoContinuaEditProfundidade()">Dimensao Continua</button>
  <button mat-raised-button (click)="estadoDimensaoDiscretaEditProfundidade()">Dimensao Discreta</button>

</div>

<div *ngIf="profundidadeDiscretaEditHidden">
  <br>
  <br>
  <label class="info">Valor A Acrescentar:</label>
  <input [matTooltip]="profundidadeDiscreta" class="number" id="discretaNovoProfundidade">
  <label> </label>

  <button (click)="acrescentarValorDiscreta(3)">Acrescentar</button>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresDiscretaProfundidade">{{stringValoresProf}}</label>
  <button (click)="limparDiscreta(3)">Limpar</button>
  <br>
  <br>
  <button mat-raised-button (click)="criarProduto(2)">Editar Produto</button>
</div>

<div *ngIf="profundidadeContinuaEditHidden">
  <br>
  <br>
  <label class="info">Valor Minimo:</label>
  <input [matTooltip]="profundidadeMinima" class="number" id="continuaMinProfundidade">
  <br>
  <label class="info">Valor Maximo:</label>
  <input [matTooltip]="profundidadeMaxima" class="number" id="continuaMaxProfundidade">
  <br>
  <br>
  <button (click)="acrescentarValorContinua(3)">Acrescentar</button>
  <br>
  <br>
  <label class="info">Valores Atuais</label>
  <label class="info" id="valoresContinuaProfundidade"> {{stringValoresProf}} </label>
  <button (click)="limparContinua(3)">Limpar</button>
  <br>
  <button mat-raised-button (click)="criarProduto(2)">Editar Produto</button>
</div>