
<h1 id="titulo">Gestão de Coleções</h1>
<button id="botaoCriar" mat-raised-button (click)="estadoCriarColecao()">Criar Coleção</button>
<button id="botaoListar" mat-raised-button (click)="estadoListarColecoes()">Listar Coleções</button>
<button id="botaoEliminar" mat-raised-button (click)="estadoEliminarColecao()">Apagar Coleção</button>
<button id="botaoEditar" mat-raised-button (click)="estadoEditarColecao()">Editar Coleção</button>

<div *ngIf="colecaoHidden01">
  <h2 id="tituloCriar">Criar Coleção</h2>
  <label>
    <mat-form-field class="example-full-width">
      <input #nomeColecaoCriar matInput placeholder="Nome">
    </mat-form-field>
  </label>
  <p></p>
  <mat-form-field>
    <mat-select placeholder="Catálogos" [(ngModel)]="catalogoSelecionado" (ngModelChange)=ListarProdutosCatalogoAoCriar() [compareWith]="equals">
      <mat-option *ngFor="let c of listaCatalogos" [value]="c">
        {{c.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <mat-form-field>
    <mat-select placeholder="Produtos" [(ngModel)]="produtosSelecionados" multiple
                #produtoSelecionado="ngModel">
      <mat-option *ngFor="let p of produtosCatalogo" [value]="p">
        {{p.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button (click)="adicionarColecao(nomeColecaoCriar.value)">
    Criar
  </button>
</div>


<div *ngIf="colecaoHidden02">
  <h2 id="tituloListar">Listar Coleções</h2>
  <mat-form-field>
    <mat-select placeholder="Colecoes" [(ngModel)]="colecaoListar" (ngModelChange)=listarProdutos() [compareWith]="equals">
      <mat-option *ngFor="let c of listaColecoes" [value]="c">
        {{c.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-tab-group mat-stretch-tabs *ngIf="colecaoListar!=null" (selectedTabChange)=listarProduto($event)>
    <mat-tab *ngFor="let p of produtosColecao; index as i" label="{{p.nome.conteudo}}">
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Categoria" value="{{p.categoria.nome.conteudo}}" readonly>
      </mat-form-field>
      <br>
      <span>Materiais: </span>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab *ngFor="let m of materiaisProduto; index as i" label="{{m.nome.conteudo}}">
          <br>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Textura" [(ngModel)]="nomeTexturaListar[i]" readonly>
          </mat-form-field>
          <br>
          <mat-card class="example-card">
            <span><img mat-card-image [src]="imagemTexturaListar[i]"> </span>
          </mat-card>
          <br>
        </mat-tab>
      </mat-tab-group>
      <br>
      <mat-form-field *ngFor="let c of catalogosProduto" class="example-full-width">
        <input matInput placeholder="Catálogo" value="{{c.nome.conteudo}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let a of alturasProduto" class="example-full-width">
        <input matInput placeholder="Altura" value="{{a}}" readonly>
      </mat-form-field>
      <mat-form-field *ngFor="let a of alturasMinProduto" class="example-full-width">
        <input matInput placeholder="Altura Mínima" value="{{a}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let a of alturasMaxProduto" class="example-full-width">
        <input matInput placeholder="Altura Máxima" value="{{a}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let l of largurasProduto" class="example-full-width">
        <input matInput placeholder="Largura" value="{{l}}" readonly>
      </mat-form-field>
      <mat-form-field *ngFor="let l of largurasMinProduto" class="example-full-width">
        <input matInput placeholder="Largura Mínima" value="{{l}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let l of largurasMaxProduto" class="example-full-width">
        <input matInput placeholder="Largura Máxima" value="{{l}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let p of profundidadesProduto" class="example-full-width">
        <input matInput placeholder="Profundidade" value="{{p}}" readonly>
      </mat-form-field>
      <mat-form-field *ngFor="let p of profundidadesMinProduto" class="example-full-width">
        <input matInput placeholder="Profundidade Mínima" value="{{p}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let p of profundidadesMaxProduto" class="example-full-width">
        <input matInput placeholder="Profundidade Máxima" value="{{p}}" readonly>
      </mat-form-field>
      <br>
      <mat-form-field *ngFor="let f of produtosAgregados" class="example-full-width">
        <input matInput placeholder="Produto Agregado" value="{{f}}" readonly>
      </mat-form-field>

    </mat-tab>
  </mat-tab-group>
</div>


<div *ngIf="colecaoHidden03">
  <h2 id="tituloEliminar">Eliminar Coleção</h2>
  <mat-form-field>
    <mat-select placeholder="Coleções" [(ngModel)]="colecaoApagar" [compareWith]="equals">
      <mat-option *ngFor="let c of listaColecoes" [value]="c">
        {{c.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)=eliminarColecao()>Apagar</button>
  <br>
  <br>
</div>

<div *ngIf="colecaoHidden04">
  <h2 id="tituloEditar">Editar Coleção</h2>
  <mat-form-field>
    <mat-select placeholder="Coleções" [(ngModel)]="colecaoEditar"(ngModelChange)=atualizarDados() [compareWith]="equals">
      <mat-option *ngFor="let c of listaColecoes" [value]="c">
        {{c.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <label>
    <mat-form-field class="example-full-width">
      <input #editarNomeColecao [(ngModel)]="nomeEditar" matInput placeholder="Novo nome">
    </mat-form-field>
  </label>
  <br>
  <mat-form-field>
    <mat-select placeholder="Produtos" [(ngModel)]="produtosSelecionadosEditar" multiple
                 [compareWith]="equalsProduto">
      <mat-option disabled="disabled" class="filter-option">
        <input type="checkbox" (click)="selecionarTodosProdutos(checkAll.checked, produtoSelecionado, listaProdutos)"
          #checkAll>
      </mat-option>
      <mat-option *ngFor="let p of produtosCatalogo" [value]="p">
        {{p.nome.conteudo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <button mat-button (click)=atualizarColecao()>Submeter Alterações</button>
</div>
