@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */

body {
    color: rgb(17, 16, 16);
    font-family: Cambria, Georgia;
    background-image: url('background.jpg');
}

/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */

h1 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

input[type="text"], button {
    color: rgb(14, 0, 0);
    font-family: Cambria, Georgia;
}

/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100000px rgb(230, 194, 121) inset;
}